* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global Styles */
body {
  font-family: "Arial", sans-serif;
  background-color: var(--primary-bg);
  color: var(--text-primary);
  margin: 0;
  padding: 0;
}

/* Header Navigation */
.btm-nav {
  z-index: 1000;
}

.btm-nav.sticky {
  background-color: var(--primary-bg);
  padding: 0.75rem 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-left: 10%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

/* .nav-links {
  display: flex;
  gap: 20px;
} */

a {
  color: var(--text-secondary);
  text-decoration: none;
  font-size: 15px;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: var(--text-primary);
}

/* Search Bar */
.search-bar {
  display: flex;
  align-items: center;
  background-color: #333;
  padding: 0.7rem 1rem;
  border: none;
  border-radius: 25px;
  color: var(--text-primary);
  width: 220px;
}

.search-bar input {
  border: none;
  background: transparent;
  outline: none;
  color: var(--text-primary);
  margin-left: 10px;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  padding: var(--spacing);
}

/* Buttons */
.btn {
  border-radius: var(--border-radius);
  border: none;
  cursor: pointer;
  transition: var(--transition);
  font-size: var(--font-size-base);
}
.btn-white {
  border: none;
  background-color: white;
  color: var(--primary-bg);
}
.btn:hover {
  background-color: var(--text-secondary);
}

.hero-section {
  background-image: url("/assets//images/spider-man.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 65vw;
  height: 32rem;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: end;
  border-radius: 25px;
  padding: 15px;
}
p {
  line-height: 1.7;
}

.game-card {
  border-radius: var(--border-radius);
  overflow: hidden;
}
.game-img {
  width: 50px;
  height: 60px;
  border-radius: var(--border-radius);
  margin-right: 1rem;
}
.game-info {
  flex: 1;
}
.testing {
  height: 100vh;
  background-color: var(--button-bg);
}

.discover-new{
  height: auto;
}

.btn-color{
  background-color: var(--secondary-bg);
}

.card-new {
  width: 16%;
  height: auto;
  overflow: hidden;
  position: relative; 
}

.card-img {
  width: 100%;
  height: 375px; 
  object-fit: cover; 
  border-radius: var(--border-radius);
  image-rendering: auto; /* Helps with clarity */
  transition: transform 0.2s ease;
}


/* Plus sign */
.card-new::after {
  content: '+';
  position: absolute;
  top: 16px;
  right: 16px;
  width: 24px;
  height: 24px;
  background-color: var(--primary-bg);
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  opacity: 0;
  transition: opacity 0.2s ease;
}

/* Hover effects */
.card-new:hover::after {
  opacity: 1;
}

.card-new:hover .card-img {
  transform: scale(1.05); /* adds a slight zoom effect */
}

.shop-card{
  width: 32%;
  height: auto;
  overflow: hidden;
  position: relative; 
}

.shop-card img{
  width: 100%;
  height: 275px; 
  object-fit: cover; 
  border-radius: var(--border-radius);
  image-rendering: auto; 
}
